<main class="container">
  <%= link_to sanitize("&larr; Back to quote"), message_path(@message) %>

  <div class="header">
    <h1>Edit message</h1>
  </div>

  <%= render "form", message: @message %>
</main>