<main class="container">
  <div class="header">
    <h1>messages</h1>
    <%= link_to "New quote",
                new_message_path,
                class: "myButton" %>
  </div>

  <%= render @messages %>
</main>