<style>
a:hover{
    color:green;
}

#profile_picture{
    margin:10px
}
</style>
<h2 class="genTitle" style="margin-left:300px;">Leaderboard</h2>
<div class="genTable">
    <%=render @leaderboard %>
</div>
