<%= stylesheet_link_tag "leaderboard" %>


<div class ="leaderboard">
<table>
  <thead>
    <tr>
      <th style="width: 70%">Username </th>
      <th>Points </th>
    </tr>
  </thead>

  <tbody>
    <% @leaderboard.each do |user| %>
    <!-- class adult to any table rows for movies rated other than G or PG -->
      <tr>
        <td><%= user.username %></td>
        <td><%= user.accumulated_points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>