<div id="<%= dom_id(comment) %>">

  <%= comment.user.username %>
  <%= comment.body %>
  <% if Pundit.policy(Current.user,comment).edit?%>
  <%= link_to "Edit",
                edit_post_comment_path(comment,id: comment.post.id),
                class: "btn btn--light" %>
  <%end %>
</div>