<div class="news">
  <%= link_to news.body, news_path(news) %>
  <div class="news__actions">
    <%= button_to "Delete",
                  news_path(news),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_news_path(news),
                class: "btn btn--light" %>
  </div>
</div>