<div class="news">
  

  <%= link_to news.title, news_path(news), class:"genText", style:"width:800px" %>
 
  <div class="news__actions">

   
    <div class="fb-share-button" style="width:0%" data-href=<%= news.url %> data-layout="" data-size=""><a target=<%= news.url %> href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Condividi</a></div>
    <% if Pundit.policy(Current.user,news).destroy? %>
      <%= button_to "",
                  news_path(news),
                  method: :delete,
                  class: "btn btn--light delete" %>
    <% end %>
    

    

    <br>
  </div>
</div>