<main class="container">
  <div class="header">
    <h2 class="newsTitle">News</h2>
    <%= link_to "New quote",
                new_news_path,
                class: "btn btn--primary" %>
  </div>

<%= render @news %>
  
</main>