<main class="container">
  <div class="header">
    <h1>awards</h1>
    <%= link_to "New award",
                new_award_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @awards %>
</main>