<div class="join_challenge">
  <%= link_to join_challenge.body, join_challenge_path(join_challenge) %>
  <div class="join_challenge__actions">
    <%= button_to "Delete",
                  join_challenge_path(join_challenge),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_join_challenge_path(join_challenge),
                class: "btn btn--light" %>
  </div>
</div>