<div class="challengeField">

<div class="descrizione">
  <%= link_to  challenge.description, challenge, class:"genText", style:"align:middle; max-width: 80%"%>

  <% if Pundit.policy(Current.user,challenge).destroy? %>
</div>

  <div class="delete_b"><%= button_to "Delete",
                  challenges_path(challenge),
                  method: :delete,
                  class: "btn btn--light" %>
                  <% end %>
  </div>
</div>


