<% content_for :head do %>
  
  <%= javascript_import_module_tag "weather" %>
  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<% end %>
<main  class="myContainer">

  <div class="header">
    <h2 class="challengeTitle">New challenge</h2>
  </div>

  <%= render "form", challenge: @challenge %>
  <%= link_to 'Go back to Map', map_index_path %>
</main>