<% content_for :head do %>
  
  <%= javascript_import_module_tag "weather" %>
  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<% end %>
<main  class="container">
  <%= link_to sanitize("&larr; Back to challenges"), challenges_path %>

  <div class="header">
    <h1>New challenge</h1>
  </div>

  <%= render "form", challenge: @challenge %>
</main>