<main class="container">
  <%= link_to sanitize("&larr; Back to challenges"), challenges_path %>

  <div class="header">
    <h1>New challenge</h1>
  </div>

  <%= render "form", challenge: @challenge %>
</main>