
.new_award{
    margin-left: 30%;
    background-color: whitesmoke;
	border: 2px solid rgb(51, 155, 41);
    border-spacing: 3px;

}

.int{
    margin-left: 30%;
	background-color: rgb(51, 155, 41);
	border: 2px solid rgb(255, 255, 255);
    border-spacing: 3px;
	width: 40%;
	height: 115px;
	margin-bottom:2%
}

.award:not(form){
    max-width: 50%;
    display: flex;
    flex-direction: row;
    background-color: white;
	border: 2px solid green;
    margin-left: 30%;
    margin-bottom:10%;

}


.award_header{
    font-size: 200%;
    width: 100%;
    background-color: green;
}

.filler{  margin-left: 2%;
    border-radius: 0% !important;
    max-width: 40%;}
.int_list{
    margin-top: 10%;
	background-color: green;
	border: 2px solid rgb(255, 255, 255);
    border-spacing: 3px;
	width: 40%;
	height: 115px;
	margin-bottom:2%
}

img{
    margin-left: 2%;
    border-radius:0% !important;
    max-width:40%;
    margin-bottom: 2%;
}

.left{
    display: flex;
    flex-direction: column;
    width:600px;
}

.award__actions{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 60px 60px;
}
.containerAwards{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5), 0 8px 16px rgba(0, 0, 0, .1);
    width:1000px;
    margin-left:405px;
}

#award_description{
    margin-top:10px;
    margin-left:20px;
    width:400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
}


#award_description:focus{
    outline: none;
    border-color: green;
}