.msg-form {
    position: fixed;
    bottom: 0;
    width: fit-content;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-left:50px;
  }

  turbo-frame{
    border-style: none;
  }

  .col-md-10 {
    height:500px;
    overflow: scroll;
    width: 70%;
    float:left;
  }

  #chat-text{
    width:600px;
    margin-bottom: 15px;
  }
  
#chat-text:focus{
  border-color: green;
  outline:none;
}


  .msg-content {
    width: 80%;
    margin-right: 5px;
  }
  .message-box {
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: darkgreen ;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.myContainer{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5), 0 8px 16px rgba(0, 0, 0, .1);
  width: 1000px;
  margin:auto;
  margin-left: 405px;
  padding-left:0;
  background-color: white;
}

.challengeTitle{
  
  color: white;
  background-color: green;
  height: 45px;
  width: fit-content;
  border-bottom-right-radius: 10px;
}


#challenge_description{
  width:1000px;
  min-height: 70px;
  height: fit-content;
  border-color: white;
  box-shadow: none;
}
#challenge_description:focus{
  border-color: green;
  outline:none;
}

/* .challengeField{
  background-color: white;
  text-align: center;
  margin-bottom: 5%;
  display: flex;
  width: 100%;
}  */

.challengeField{
  display:flex;
  grid-auto-flow: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5), 0 8px 16px rgba(0, 0, 0, .1);
  width: 25%;
  margin: 10px;
  padding:10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: white;
  margin-left: 40%;
}

.descrizione{
  width: 80%;
  padding-top: 3%;
}
.delete_b{
  height:100px;
}

challenges.grid{

  border:1px solid green;
  grid-gap:1px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  margin-left:600px;
  margin-top:100px;
  box-shadow: 0 2px 5px 0 rgba(0 ,0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0,  .12);
  width:fit-content;
  background-color: white;
} 

/* .challenges.column{
  border:1px solid green;
  grid-gap:1px;
  display: grid;
  grid-template-columns: 200px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0,  .16), 0 2px 10px 0 rgba(0, 0, 0,  .12);
  width:fit-content;
  background-color: white;
  margin-left: 910px;

}  */

.chatContainer{
  margin-left: 20%;
}

.delete_b{

  margin-left: 5%;
}