.post_footer{
    display:grid;
    grid-auto-flow: column ;
}

.like{
    height: 40px;
    width: 40px;
    background-color: green;
    background-image: url("like.png");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom:10px;
    margin-top:10px;
    padding:10px;
    border-style: none;
    border-radius: 100px;
}

.like:hover{
    background-image: url("like_n.png");
}

.dislike{
    height: 40px;
    width: 40px;
    background-color: rgb(214, 2, 2);
    background-image: url("dislike.png");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom:10px;
    margin-top:10px;
    padding:10px;
    border-style: none;
    border-radius: 100px;
}

.likes{
    display: grid;
    grid-auto-flow: column;
    width:300px;
}


.dislike:hover{
    background-image: url("dislike_n.png");
}

.myContainer.post{
    margin-bottom:20px;
}

.fb_iframe_widget{
    width:827px;
    margin-left:20px;
}

.postUpload{
    margin-left:404px;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap:10px;
}
.post_body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left:40px;
    display:grid;
    grid-auto-flow: row;
}

.post_header{
    margin-left:20px;
}

.simple_form.post.form{
    margin-left: 404px !important;

}

img{
    border-radius:0% !important;
    width:920px;
}

.commentText{
    display: grid;
    grid-auto-flow: row;
}

#comment_body{
    width:960px;

}

.genButton.comments{
    width:250px;
    margin-left:auto;
    margin-right:20px;
}

.post_actions{
    display: grid;
    grid-auto-flow: column;
    margin-top: 15px;
    width:400px;
}

.btn.btn--light.delete.comment_delete{
    margin-top:0;
    margin-left:10px;
}
