.user{
	flex-direction: row;
	max-width: 100%;
	max-height: 60px;
	display: inline-flex;
	border-color: black;
	background-color: whitesmoke;
	margin-left: 400px;
	float:left;
	margin-top:20px;
	
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}

.stats{
	margin-left: 30%;
	background-color: whitesmoke;
	max-width: 20%;
	border: 2px solid rgb(124, 124, 124);
    border-spacing: 3px;
}

.nametag{
	margin-left: 30%;
	background-color: rgb(51, 155, 41);
	border: 2px solid rgb(255, 255, 255);
    border-spacing: 3px;
	width: 40%;
	height: 15%;
	margin-bottom:2%

}

.nome{
	margin-left: 5%;
	text-align: left;
	font-size: 200%;
}

.new_relationship{
	margin-left: 9.5%;
}
.edit_relationship{
	margin-left: 9.5%;
}
#follow_form{
	margin-left: 400px;
}