.user{
	flex-direction: row;
	max-width: 100%;
	max-height: 60px;
	display: inline-flex;
	border-color: black;
	background-color: whitesmoke;
	margin-left: 0;
	float:left;
	
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}
.user__actions{

}